<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Antix.Mail.Smtp.Impostor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Antix.Mail.Smtp.Impostor.Properties.Settings>
      <!--<setting name="Hosts" serializeAs="Xml">
        <value>
          <Hosts>
            <Host>
              <Name>Local 25</Name>
              <IPAddress>0.0.0.0</IPAddress>
              <Port>25</Port>
              <MessageStorage TypeName="Antix.Mail.Smtp.Impostor.FileMessageStorageConfiguration">
                <DropPath>C:\Temp\{0}_{1}</DropPath>
                <FileExtension>.eml</FileExtension>
              </MessageStorage>
            </Host>
            <Host>
              <Name>Local 26</Name>
              <IPAddress>0.0.0.0</IPAddress>
              <Port>26</Port>
              <MessageStorage TypeName="Antix.Mail.Smtp.Impostor.FileMessageStorageConfiguration">
                <DropPath>C:\Temp\{0}_{1}</DropPath>
                <FileExtension>.eml</FileExtension>
              </MessageStorage>
            </Host>
          </Hosts>
        </value>
      </setting>-->
    </Antix.Mail.Smtp.Impostor.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
  </system.diagnostics>
</configuration>